# no need of this
vim/.netrwhist
vim/bundle/closetag.vim
vim/bundle/ghcmod-vim
vim/bundle/neco-ghc
vim/bundle/neocomplete
vim/bundle/neosnippet
vim/bundle/neosnippet-snippets
vim/bundle/nerdcommenter
vim/bundle/papercolor-theme
vim/bundle/supertab
vim/bundle/syntastic
vim/bundle/tabular
vim/bundle/ultisnips
vim/bundle/vim-airline-themes
vim/bundle/vim-airline
vim/bundle/vim-autoclose
vim/bundle/VimCompleteLikeAModernEditor
vim/bundle/vim-snippets
vim/bundle/vim-surround
vim/bundle/Vundle.vim
